<section class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label  for="title">Title</label>
        <input  name="title" id="title" type="text" class="form-control"
        required
        minlength="3"
          #title="ngModel"
          [(ngModel)]="product.title"
        />
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
          <div *ngIf="title.errors.required">Please enter your title product</div>
          <div *ngIf="title.errors.minlength">Minlength Product is {{title.errors.minlength.requiredLength}}</div>
        </div>
      </div>
      <div class="form-group">
          <label  for="price">Price</label>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input    #price="ngModel" [(ngModel)]="product.price" required  name="price" id="price" [min]="0" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
              <div class="input-group-append">
                <span class="input-group-text">.00</span>
              </div>
            </div>
            <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                <div *ngIf="price.errors.required">Please enter your title price</div>
                <div *ngIf="price.errors.min">Minprice is zero</div>
              </div>
        </div>
        <div class="form-group">
            <label  for="category">Category</label>
            <select #category="ngModel"  [(ngModel)]="product.category"    required name="category" class="form-control" id="category">
                <option>Please Select Category</option>
                <option *ngFor="let catg of categories$ | async" [value]="catg.name" >
                  {{catg.name}}
                </option>
              </select>
              <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                  <div *ngIf="category.errors.required">Please choose your category</div>
              </div>
        </div>
        <div class="form-group">
            <label for="imageUrl">Image</label>
            <input  #imageUrl="ngModel" [(ngModel)]="product.imageUrl"  url required  name="imageUrl" id="imageUrl" type="text" class="form-control"/>
            <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
                <div *ngIf="imageUrl.errors.required">Please choose your imageUrl</div>
                <div *ngIf="imageUrl.errors.url">enter imageUrl</div>
              </div>
        </div>
      <button class="btn btn-primary">Save</button>
      <button class="btn btn-danger" (click)="delete()">Delete</button>
      </form>
  </div>
  <div class="col-md-6">
    <div class="card" *ngIf="title.value" style="width: 18rem;">
      <img  class="card-img-top" [src]="imageUrl.value">
      <div class="card-body">
        <h5 class="card-title">{{title.value}}</h5>
        <h5 class="card-title">{{category.value}}</h5>
        <h5 class="card-title">{{price.value | currency:'USD':true}}</h5>

      </div>
    </div>
  </div>
</section>